p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.weaponDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  border: 2px solid black;
  border-radius: 2px;
  height: 69px;
  width: 500px;
  margin: 12px;
  padding: 6px;
}
.weaponDisplay2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.headerClass {
  display: flex;
  justify-content: center;
}

.gridClass{
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-gap: 10px;
  justify-content: center;
  margin: 10px 10px 10px 10px;
}

.weaponOrganizer{
  border: 2px solid black;
  border-radius: 2px;
  padding: 10px;
  font-size: 20px;
}

.publicClass {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contentCenterer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

@media screen and (max-width: 768px){
  .weaponDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border: 2px solid black;
    border-radius: 2px;
    height: 69px;
    width: auto;
    margin: 12px;
    padding: 3px;
  }
  .gridClass{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
    justify-content: center;
    margin: 10px 10px 10px 10px;
  }
}